.cardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.cardInfo {
    width: 50%;
    background-color: transparent;
    border: 1px solid yellow;
    font-family: monospace;
}

.cardHeader {
    background-color: red;
    color: white;
}

.cardBody {
    background-color: transparent;
}

.textYellow {
    color: yellow;
}

.linkYellow {
    color: yellow;
    text-decoration: none;
}
