.searchInput,
.searchSelect,
.searchButton {
    color: white;
    background-color: transparent;
    border: 1px solid yellow;
}

.searchInput:focus {
    background-color: transparent;
    border-color: yellow;
    box-shadow: none;
}

.searchInput:focus {
    color: white;
}

.searchButton {
    border-color: yellow;
}
.searchButton:hover{
    color: black;
    background-color: yellow ;
}
